@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @apply selection:bg-amber-200 selection:text-amber-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(240 10% 3.92%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(240 10% 3.92%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(240 10% 3.92%);
  --primary: hsl(216.23 100% 58.43%);
  --primary-foreground: hsl(213.75 100% 96.86%);
  --secondary: hsl(195.29 100% 90%);
  --secondary-foreground: hsl(240 5.88% 10%);
  --muted: hsl(240 4.76% 95.88%);
  --muted-foreground: hsl(240 4.24% 46.27%);
  --accent: hsl(240 4.76% 95.88%);
  --accent-foreground: hsl(240 5.88% 10%);
  --destructive: hsl(357.14 100% 45.29%);
  --destructive-foreground: hsl(223.81 -172.52% 100%);
  --border: hsl(240 5.88% 90%);
  --input: hsl(240 5.88% 90%);
  --ring: hsl(216.23 100% 58.43%);
  --chart-1: hsl(17.88 100% 48.04%);
  --chart-2: hsl(174.8 100% 29.41%);
  --chart-3: hsl(195.71 72.41% 22.75%);
  --chart-4: hsl(43.53 100% 50%);
  --chart-5: hsl(36.38 100% 49.8%);
  --sidebar: hsl(189.68 100% 93.92%);
  --sidebar-foreground: hsl(0 0% 0%);
  --sidebar-primary: hsl(0 0% 0%);
  --sidebar-primary-foreground: hsl(223.81 -172.52% 100%);
  --sidebar-accent: hsl(195.29 100% 90%);
  --sidebar-accent-foreground: hsl(0 0% 0%);
  --sidebar-border: hsl(223.81 0% 92.15%);
  --sidebar-ring: hsl(0 0% 0%);
  --font-sans: Geist, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Geist Mono, monospace;
  --radius: 0.3rem;
  --shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-sm: 0px 1px 2px 0px hsl(0 0% 0% / 0.18),
    0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow: 0px 1px 2px 0px hsl(0 0% 0% / 0.18),
    0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow-md: 0px 1px 2px 0px hsl(0 0% 0% / 0.18),
    0px 2px 4px -1px hsl(0 0% 0% / 0.18);
  --shadow-lg: 0px 1px 2px 0px hsl(0 0% 0% / 0.18),
    0px 4px 6px -1px hsl(0 0% 0% / 0.18);
  --shadow-xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.18),
    0px 8px 10px -1px hsl(0 0% 0% / 0.18);
  --shadow-2xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.45);
}

.dark {
  --background: hsl(240 10% 3.92%);
  --foreground: hsl(0 0% 98.04%);
  --card: hsl(240 5.88% 10%);
  --card-foreground: hsl(0 0% 98.04%);
  --popover: hsl(240 5.88% 10%);
  --popover-foreground: hsl(0 0% 98.04%);
  --primary: hsl(221.3 97.47% 53.53%);
  --primary-foreground: hsl(224.74 67.06% 33.33%);
  --secondary: hsl(240 3.7% 15.88%);
  --secondary-foreground: hsl(0 0% 98.04%);
  --muted: hsl(240 3.7% 15.88%);
  --muted-foreground: hsl(240 5.49% 64.31%);
  --accent: hsl(240 3.7% 15.88%);
  --accent-foreground: hsl(0 0% 98.04%);
  --destructive: hsl(358.84 100% 69.61%);
  --destructive-foreground: hsl(0 0% 0%);
  --border: hsl(0 0% 100%);
  --input: hsl(0 0% 100%);
  --ring: hsl(225.43 84% 49.02%);
  --chart-1: hsl(225.43 84% 49.02%);
  --chart-2: hsl(159.89 100% 36.86%);
  --chart-3: hsl(36.38 100% 49.8%);
  --chart-4: hsl(273.41 100% 63.73%);
  --chart-5: hsl(345.47 100% 56.27%);
  --sidebar: hsl(223.81 0% 6.87%);
  --sidebar-foreground: hsl(223.81 -172.52% 100%);
  --sidebar-primary: hsl(223.81 -172.52% 100%);
  --sidebar-primary-foreground: hsl(0 0% 0%);
  --sidebar-accent: hsl(223.81 0% 19.89%);
  --sidebar-accent-foreground: hsl(223.81 -172.52% 100%);
  --sidebar-border: hsl(223.81 0% 19.89%);
  --sidebar-ring: hsl(223.81 0% 64.47%);
  --font-sans: Geist, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Geist Mono, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-sm: 0px 1px 2px 0px hsl(0 0% 0% / 0.18),
    0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow: 0px 1px 2px 0px hsl(0 0% 0% / 0.18),
    0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow-md: 0px 1px 2px 0px hsl(0 0% 0% / 0.18),
    0px 2px 4px -1px hsl(0 0% 0% / 0.18);
  --shadow-lg: 0px 1px 2px 0px hsl(0 0% 0% / 0.18),
    0px 4px 6px -1px hsl(0 0% 0% / 0.18);
  --shadow-xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.18),
    0px 8px 10px -1px hsl(0 0% 0% / 0.18);
  --shadow-2xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.45);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* @layer utilities {
  .p-layout {
    @apply px-2 sm:px-4;
  }
  .flex-center {
    @apply p-layout flex items-center justify-center;
  }
  .text-p {
    @apply text-base sm:text-lg;
  }
  .hover-opacity {
    @apply transition hover:opacity-70;
  }
  .focus-ring {
    @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 focus-visible:ring-offset-background;
  }
  .prose-config {
    @apply prose prose-sm prose-slate dark:prose-invert sm:prose-base focus:outline-none;
    @apply prose-img:mb-0 prose-img:mt-3;
    @apply prose-a:prose-a-styles;
    @apply prose-pre:prose-pre-styles;
    @apply prose-code:prose-code-styles;
    @apply prose-ul:prose-ul-styles;
    @apply prose-ol:prose-ol-styles;
  }
  .prose-config .tiptap {
    @apply outline-none;
  }
  .prose-a-styles {
    @apply focus-ring cursor-pointer rounded decoration-muted transition;
    @apply text-accent-foreground hover:opacity-75;
  }
  .prose-pre-styles {
    @apply bg-muted text-foreground;
  }
  .prose-code-styles {
    @apply before:content-none after:content-none;
  }
  .prose-ul-styles p {
    @apply my-1;
  }
  .prose-ol-styles p {
    @apply my-1;
  }
} */
